@import "tailwindcss";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased text-zinc-900 bg-white dark:text-zinc-100 dark:bg-black transition-colors duration-200;
  }
}